@{
    List<Object> MenuItems = new List<object>();
    MenuItems.Add(new { text = "General", separator = true });
    MenuItems.Add(new { text = "Dashboard", iconCss = "fa-solid fa-box", url = "/Dashboard" });
    MenuItems.Add(new { text = "Categories", iconCss = "fa-solid fa-folder-plus", url = "/Categories" });
    MenuItems.Add(new { text = "Transactions", iconCss = "fa-solid fa-arrow-right-arrow-left", url = "/Transactions" });
    MenuItems.Add(new { text = "Extras", separator = true });
    MenuItems.Add(new { text = "Reports", iconCss = "fa-solid fa-chart-simple", url = "#" });
}

<body>
<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="110px"
             target=".dock-target" enableGestures="false">
    <e-content-template>
        <link rel="stylesheet" href="~/css/floatingSideBar.css" asp-append-version="true"/>
        <link rel="stylesheet" href="css/site.css"/>
        <script src="~/js/floatingSideBar.js"></script>
        <div class="logo-wrapper">
            <div class="app-logo">
                <img src="~/favicon-32x32.png"/>
                <div class="w-75"></div>
                <i id="sidebar-toggler" class="fa-solid"></i>
            </div>
        </div>
        <ejs-menu id="menu" items="MenuItems" orientation="Vertical" hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>
</body>