<!DOCTYPE html>
@using Finance_Tracking_Web_Application.Controllers

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Finance Tracking Web</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="css/loginPage.css"/>
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>
    <h3>Login Here</h3>
    <label for="username">Email Username</label>
    <input type="text" placeholder="Email or Phone" id="Email">
    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="Password">
    <input type="button" class="bn632-hover bn18" value="Log in" onclick="@("window.location.href = '" + @Url.Action("Index", "Dashboard") + "'");"/>
    
</form>
</body>
</html>
<!-- partial -->
</body>
</html>