<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0b80f219-34e2-44c4-af4e-cd47f3207324/resourceGroups/FinanceTrackingWeb/providers/Microsoft.Web/sites/financetrackingwebapplication</ResourceId>
    <ResourceGroup>FinanceTrackingWeb</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://financetrackingwebapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c9da115a-d6c6-42a4-8159-73d75a6e5bc1</ProjectGuid>
    <PublishUrl>https://financetrackingwebapplication.scm.azurewebsites.net/</PublishUrl>
    <UserName>$financetrackingwebapplication</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>