html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0.44, rgb(122,153,217)),
  color-stop(0.72, rgb(73,125,189)),
  color-stop(0.86, rgb(28,58,148)));
}

body {
  margin-bottom: 60px;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  color: #fdfdfe;
  overflow: hidden;
}

.e-bigger {
  font-size: large;
}

.mainContent {
  margin-left: 300px;
  overflow-y: auto;
  height: 92vh;
}

/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

/*edit button*/
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
  text-decoration: none;
  color: inherit;
}

/*grid*/
.e-grid {
  border: 0;
  border-radius: 5px;
}

.e-grid .e-gridcontent, .e-grid .e-table {
  background: linear-gradient(to right, #141e30, #243b55);
}

.e-grid .e-gridheader {
  border: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  background-color: #222b33;
}

.e-grid .e-gridheader .e-headercell {
  background-color: #222b33;
}

.e-grid .e-gridpager {
  background: linear-gradient(to right, #141e30, #243b55);
}

.e-grid .e-pagercontainer {
  border: none;
  background-color: #1a222b;
}

.e-grid .e-content table {
  padding: 0px 10px;
}

.e-pagercontainer .e-icons {
  background-color: #1a222b;
  border: none !important;
}

.e-pager .e-numericitem {
  color: #adb5bd;
  background-color: #1a222b;
  padding: 15px !important;
}

.e-pager .e-numericitem:not(.e-currentitem) {
  border: none !important;
}

.e-pager .e-numericitem:hover {
  color: #fff;
}

.e-pager .e-numericitem.e-currentitem {
  color: #fff;
  border: none !important;
  background-color: #31373d;
}

.e-pager div.e-icons:not(.e-disable) {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.e-grid .e-pager {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*Radio button group custom class*/
.e-btn-group.custom-rbt-group {
  width: 100%;
}

.e-btn-group.custom-rbt-group .e-btn {
  width: 50%;
}

.custom-rbt-group label.e-btn {
  box-shadow: none !important;
  border: 2px solid #f0f0f0;
  background-color: rgb(58, 60, 63);
  color: #f0f0f0;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
  background-color: #f0f0f0;
  color: #212b36;
  border: 2px solid #f0f0f0;
}

/*Hover button*/
.bn632-hover {
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #f0f0f0;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

/*button 26*/
.bn632-hover.bn26 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/*button 28*/
.bn632-hover.bn28 {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  color: #f0f0f0;
  box-shadow: 0 4px 15px rgba(242, 97, 103, 0.4);
  padding: 15px 25px;
  text-decoration: none;
}

/*button 18*/
.bn632-hover.bn18 {
  background-image: linear-gradient(to right, #56ab2f, #a8e063);
  color: #f0f0f0;
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  padding: 15px 25px;
  text-decoration: none;
}

/*Menu*/
#menu {
  width: 100% !important;
  background-color: inherit;
  overflow: hidden;
}

#menu .e-menu-item:not(.e-separator) {
  height: 50px;
  border-radius: 4px;
}

#menu .e-menu-item {
  box-sizing: border-box;
}

#menu .e-menu-item a {
  width: 100%;
  color: rgb(171, 163, 152);
  font-weight: 300;
  padding: 7px 5px;
  box-sizing: border-box;
}

#menu .e-anchor-wrap {
  display: inline-block;
}

#menu .e-menu-item .e-anchor-wrap span.e-menu-icon {
  color: rgb(171, 163, 152);
}

#menu .e-menu-item.e-separator {
  border: none;
  margin: 5px 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #65da41;
}

#menu .e-menu-item.e-separator:not(:first-child) {
  margin-top: 35px;
}

/*widget*/
.widget {
  border-radius: 1rem;
  background-color: #212D3A;
  box-sizing: inherit;
}

.widget.summary > div:first-child {
  background-color: #222b33;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.widget.summary > div:first-child i {
  font-weight: bold;
}

.widget.income > div:first-child {
  color: #65da41;
}

.widget.expense > div:first-child {
  color: #ff4e48;
}

.widget.balance > div:first-child {
  color: #2aa1ff;
}

.widget.chart {
  padding: 5px;
}