@model IEnumerable<Finance_Tracking_Web_Application.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transactions/AddOrEdit";
}

<h1>Transactions</h1>

<div class="row ss_total">
    <div class="col-md-8">
        <ejs-grid id="transactions" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" textAlign="Left" format="dd-MMM-yyyy" field="Date" width="200px"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" width="200px"></e-grid-column>
                <e-grid-column headerText="Action" template="#actionColumnTemplate" textAlign="Center" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-4">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background: linear-gradient(to right, #141e30, #243b55);">
            <i class="fa-solid fa-money-bill-transfer fa-5x"></i>
        </div>
    </div>
</div>

@*For Action display*@
<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Transactions/AddOrEdit/${TransactionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Transactions/Delete/${TransactionId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration" onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>