@{
    ViewData["isPortfolio"] = true;
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Finance Tracker App Portfolio</title>
    <link rel="stylesheet" href="css/portfolioPage.css"/>
</head>
<body>
<div class="background">

</div>
<header>
    <div class="container">
        <h1>Finance Tracker App Portfolio</h1>
        <p>This is the portfolio page of My Finance Tracking App.</p>
    </div>
</header>

<main>
    <div class="content">
        <div class="container">
            <div class="card">
                <img src="/images/picture1.jpg" alt="App Screenshot"/>
                <h2>Project goals</h2>
                <p>
                    In this project my aim is to improve my technical skills (particularly programming skills) and my creative
                    skills (applied what i studied in Design Thinking course). To bring them into practice, i started to
                    build a Finance Tracking Website (compatible with desktop and mobile version). During this project i 
                    designed the UX/UI for the app as well as learning the technical knowledge to implement the project, 
                    to be more specific, i learnt a lot C# program language and ASP.NET core framework.
                </p>
            </div>
            <div class="card">
                <img src="/images/ideation.jpg" alt="App Screenshot"/>
                <h2>Ideation</h2>
                <p>
                    This section is about ideation phase The ideation phase of developing a finance tracking app involves
                    researching the market and target audience, generating ideas, and refining features and functionalities.
                    It's important to analyze existing apps and identify gaps in the market, as well as understand the needs and
                    preferences of the target audience. Brainstorming sessions can help generate creative ideas, which can then
                    be refined based on user feedback and market research. This phase sets the foundation for the app's development
                    and success.
                </p>
            </div>

            <div class="card">
                <img src="/images/moodboard.png" alt="App Screenshot"/>
                <h2>Moodboard</h2>
                <p>Moodboard for the inspiration.</p>
            </div>

            <div class="card">
                <img src="/images/layout.png" alt="App Screenshot"/>
                <h2>Layout</h2>
                <p>This is the layout of the application. It consists of Dashboard page, with side menu bar which .</p>
            </div>

            <div class="card">
                <img src="/images/layout.png" alt="App Screenshot"/>
                <h2>Result</h2>
                <p>
                    A finance tracking app helps users manage their personal finances by providing features such as
                    expense tracking, budgeting, editing categories and transaction. The app can improve users' financial
                    literacy and decision-making by providing insights based on their spending and saving habits.
                    Additionally, the app has user-friendly interface. The success of the project depends on various factors,
                    such as the quality of the app's design, the accuracy of the financial data, and the app's ability to
                    meet the needs and preferences of its target audience.
                </p>
            </div>

            <div class="card">
                <img src="/images/mvc.png" alt="App Screenshot"/>
                <p>
                    This app is built based on MVC model.
                    <p>
                        MVC stands for Model-View-Controller, which is a software architectural pattern used in designing and
                        developing applications. It separates an application into three interconnected components:
                        <li>
                            Model: The Model component represents the application's data and business logic. It encapsulates the
                            data and provides methods to access and modify it.
                        </li>
                        <li>
                            View: The View component represents the application's user interface. It displays the data to the user
                            and receives input from them.
                        </li>
                        <li>
                            Controller: The Controller component acts as an intermediary between the Model and View components.
                            It handles user input and updates the Model accordingly. It also updates the View to reflect changes in
                            the Model.
                        </li>
                        The MVC pattern helps to create loosely coupled and modular applications that are easy to maintain and
                        extend. By separating the concerns of data, presentation, and control, it enables developers to work
                        independently on each component, making it easier to modify or replace individual parts of the
                        application without affecting the others.
                    </p>
                </p>
            </div>

            <div class="card">
                <img src="/images/result1.png" alt="App Screenshot"/>
                <h2>Result</h2>
            </div>

            <div class="card">
                <img src="/images/result2.png" alt="App Screenshot"/>
                <h2>Result</h2>
            </div>

            <div class="card">
                <img src="/images/Backendcode1.png" alt="App Screenshot"/>
                <h2>Code implementation (Back-end)</h2>
                <p>
                    Overall, this project is code in C# in ASP.NET Core. In this project I used MVC model architecture (Model - View - Controller)
                    to implement the application.
                </p>
            </div>

            <div class="card">
                <img src="/images/CssCode.png" alt="App Screenshot"/>
                <h2>Code implementation (Front-end)</h2>
                <p>This is the CSS code for the app layout and mobile version of this app</p>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="container">
        <p>&copy; 2022 Finance Tracker App Portfolio made by Gia Khanh Le - 493341.</p>
    </div>
</footer>
</body>
</html>